 <table>
  <thead>
    <tr>
      <td>クリップ数</td>
      <td>場所名</td>
      <td>投稿ユーザー</td>
      <td>所在地</td>
      <td>投稿日</td>
    </tr>
  </thead>
  <tbody>
    <% clip_ranking.each  do |clip| %>
      <tr>
        <td><%= clip.clips.count %></td>
        <td><%= link_to clip.post_name, post_path(clip) %></td>
          <% if clip.end_user.nickname.blank? %>
        <td><%= link_to clip.end_user.name, end_user_path(clip.end_user) %></td>
          <% else %>
        <td><%= link_to clip.end_user.nickname, end_user_path(clip.end_user) %></td>
          <% end %>
        <td><%= clip.prefecture.prefecture_name %><%= clip.municipality.municipality_name %></td>
        <td><%= clip.created_at.strftime("%Y年%m月%d日") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
