<div class="post-list-item">

  <div class="card horizontal">
      <div class="card-image">
          <% if post.post_images.present? %>
            <% post.post_images.first(1).each do |i| %>
              <%= image_tag i.post_image_id.to_s, class: "list-image" %>
            <% end %>
          <% else %>
              <%= image_tag("/images/no_image.png", class: "list-image") %>
          <% end %>
        <span class="card-title">
          <p class="ranking-counter"><%= post_counter + 1 %>位</p>
          <%= link_to post.post_name, post_path(post), class:"list-title" %>
          <br> by 
            <%= link_to post.end_user.nickname, end_user_path(post.end_user) %>
        </span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
         <div>おすすめ度<div id="star-rate-clip-<%= post.id %>" class="post-list-text-star"></div></div>
         <%= post.body %>
        </div>
        <div class="card-action">
            <i class="material-icons heart-pink">attach_file</i>
            <%= post.clips.count %>
            <i class="material-icons">directions_run</i>
            <%= post.visits.count %>
            <i class="material-icons comment-icon">comment</i>
            <%= post.comments.count %>
        </div>
      </div>
  </div>

</div>

<script>
$(document).on('turbolinks:load', function() {
  $('#star-rate-clip-<%= post.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('/images/star-off.png') %>',
    starOn : '<%= asset_path('/images/star-on.png') %>',
    starHalf: '<%= asset_path('/images/star-half.png') %>',
    half: true,
    readOnly: true,
    score: '<%= post.rating %>'
  });
});
</script>