<div class="top">

  <div class="search clearfix">
      <div class="keyword-search">
        <h4>キーワードで検索</h4>
        <input type="search" placeholder="検索ワードを入力">
        <%= link_to "検索", "#", class: "btn waves-effect waves-light" %>
      </div>
      <div class="tag-search">
        <h4>タグから探す</h4>
              <% @tags.each do |t| %>
                <%= link_to t.tag_name, "#", class: "btn" %>
              <% end %>
      </div>
  </div>

    <div class="map-place">
    <h4>地図から探す</h4>

      <div class="map">
        <div id="prefecture-zone">
        </div>
        <div class="region-select">
            <% @regions.each do |r| %>
              <% if r.region_name == "北海道地方"%>
                <%= link_to r.region_name, {controller: "home", action: "regions", region_id: r.id}, id:"region-button", class:"btn hokkaido", remote: true%>
              <% elsif r.region_name == "東北地方" %>
                <%= link_to r.region_name, {controller: "home", action: "regions", region_id: r.id}, id:"region-button", class:"btn tohoku", remote: true %>
              <% elsif r.region_name == "北陸地方" %>
                <%= link_to r.region_name, {controller: "home", action: "regions", region_id: r.id}, id:"region-button", class:"btn hokuriku", remote: true %>
              <% elsif r.region_name == "関東地方" %>
                <%= link_to r.region_name, {controller: "home", action: "regions", region_id: r.id}, id:"region-button", class:"btn kanto", remote: true %>
              <% elsif r.region_name == "中部地方" %>
                <%= link_to r.region_name, {controller: "home", action: "regions", region_id: r.id}, id:"region-button", class:"btn tyubu", remote: true %>
              <% elsif r.region_name == "関西地方" %>
                <%= link_to r.region_name, {controller: "home", action: "regions", region_id: r.id}, id:"region-button", class:"btn kansai", remote: true %>
              <% elsif r.region_name == "中国地方" %>
                <%= link_to r.region_name, {controller: "home", action: "regions", region_id: r.id}, id:"region-button", class:"btn tyugoku", remote: true %>
              <% elsif r.region_name == "四国地方" %>
                <%= link_to r.region_name, {controller: "home", action: "regions", region_id: r.id}, id:"region-button", class:"btn sikoku", remote: true %>
              <% elsif r.region_name == "九州地方" %>
                <%= link_to r.region_name, {controller: "home", action: "regions", region_id: r.id}, id:"region-button", class:"btn kyusyu", remote: true %>
              <% elsif r.region_name == "沖縄地方" %>
                <%= link_to r.region_name, {controller: "home", action: "regions", region_id: r.id}, id:"region-button", class:"btn okinawa", remote: true %>
              <% else %>
                <%= link_to r.region_name, {controller: "home", action: "regions", region_id: r.id}, class:"btn other-region" %>
              <% end %>
            <% end %>
        </div>
      </div>

    </div>

</div>