<nav>
    <div class="nav-wrapper">
            <%= link_to @region.region_name, root_path, class: "breadcrumb" %>
            <%= link_to @prefecture.prefecture_name, prefecture_path(@prefecture), class: "breadcrumb" %>
    </div>
</nav>

<div class="prefecture-page">
  <h4><%= @prefecture.prefecture_name%>の市町村一覧</h4>

      <div class="municipality-area clearfix">
        <ul>
          <% @municipalities.each do |m| %>
            <li class="card-title">
              <%= link_to m.municipality_name, municipality_path(m) %>
            </li>
          <% end %>
         </ul>
      </div>

  <br>
  <h4><%= @prefecture.prefecture_name%>の投稿一覧</h4>
      <% if @posts.empty? %>
        <h4>投稿記事は0件です</h4>
      <% end %>
          <%= render partial: 'posts/post_list_item', collection: @posts, as: "post" %>
          <%= paginate @posts, class: "paginate" %>
</div>