<% if @end_user.icon_image_id.present? %>
  <h2><%= image_tag(@end_user.icon_image_id.to_s, size: "50x50", class: "user-icon") %> 
      <%= @end_user.nickname %>さんの情報</h2>
<% else %>
  <h2><%= image_tag("no_image.png", size: "50x50", class: "user-icon") %> 
      <%= @end_user.nickname %>さんの情報</h2>
<% end %>

<div class="user-mypage">
  <div class="user-information-area clearfix">
    <div class="user-icon-area">
      <% if @end_user.icon_image_id.present? %>
        <%= image_tag(@end_user.icon_image_id.to_s, size: "300x300", class: "user-icon") %>
      <% else %>
        <%= image_tag("no_image.png", size: "300x300", class: "user-icon") %>
      <% end %>
    </div>
    <div class="user-profile-area">
      <table>
        <thead>
        </thead>
        <tbody>
          <tr><td>名前<td>
              <%= @end_user.nickname %>
          </td></tr>
          <tr><td>メールアドレス</td><td><%= @end_user.email %></td></tr>
          <tr><td>在住</td><td><%= @end_user.prefecture.prefecture_name %><%= @end_user.municipality.municipality_name %></td></tr>
          <tr><td>投稿数</td><td><%= @end_user.posts.count %></td></tr>
          <tr>
            <td>最終投稿日</td>
            <td>
                <% if @end_user.posts.present? %>
                  <% @post_created = @end_user.posts.last %>
                  <%= @post_created.created_at.strftime("%Y年%m月%d日") %><br>
                <% else %>
                  投稿なし
                <% end %>
            </td>
          </tr>
          <tr><td>登録日</td><td><%= @end_user.created_at.strftime("%Y年%m月%d日") %></td></tr>
        </tbody>
      </table>
    </div>




    <div id="favorite-area">
      <%= render "favorite_field", end_user: @end_user %>
    </div>
  </div>

  <div class="user-post-area">
    <h4>
        <%= @end_user.nickname %>
    の投稿一覧</h4>
      <% if @posts.empty? %>
        <h4>投稿記事は0件です</h4>
      <% end %>
      <%= render 'admin/posts/post_list_item', posts: @posts %>
    <%= paginate @posts, class: "paginate" %>
  </div>
</div>