<nav>
    <div class="nav-wrapper">
            <%= link_to @region.region_name, root_path, class: "breadcrumb" %>
            <%= link_to @prefecture.prefecture_name, prefecture_path(@prefecture), class: "breadcrumb" %>
            <%= link_to @municipality.municipality_name, municipality_path(@municipality), class: "breadcrumb" %>
    </div>
</nav>

<div class="prefecture-page">

      <% if @posts.empty? %>
        <h4><%= @municipality.municipality_name%>の投稿記事は0件です</h4>
      <% else %>
        <h4><%= @municipality.municipality_name%>の投稿一覧（<%= @municipality.posts.count %>件）</h4>
      <% end %>
          <%= render partial: 'posts/post_list_item', collection: @posts, as: "post" %>
          <%= paginate @posts, class: "paginate" %>
</div>