
<% if @end_user.icon_image_id.present? %>
  <h2><%= image_tag(@end_user.icon_image_id.to_s, size: "50x50") %> <%= @end_user.nickname %>さんのマイページ</h2>
<% else %>
  <h1><%= image_tag("no_image.png", size: "50x50") %> <%= @end_user.nickname %>さんのマイページ</h1>
<% end %>

  <div id="favorite-area">
    <%= render "favorite_field", end_user: @end_user %>
  </div>