
<% if @end_user.nickname.blank? %>
  <h3><%= @end_user.name %><%= @title %></h3>
<% else %>
  <h3><%= @end_user.nickname %><%= @title %></h3>
<% end %>
<%= link_to "このユーザーのマイページへ", end_user_path(@end_user), class: "btn" %>
<br>

<div class="follow-user-list">
  <%= render "user_list_fields", users: @users %>
</div>