<div class="edit-post-image-area">
  <%= edit_post_image.file_field :post_image_id, class: "btn-flat" %>
  <br>
  <br>
  <%= edit_post_image.label "画像コメントを入力" %>
  <%= edit_post_image.text_field :post_image_comment %>
  <%= link_to "画像を削除", post_image_path(edit_post_image.object.id), method: :delete , class: "btn-flat btn-delete" %>
  <%= edit_post_image.hidden_field :id, value: edit_post_image.object.id %>
</div>