<h4>記事投稿</h4>

<div class="add-post-area">
    <%= form_with model: @post do |f| %>
        <%= f.label "場所の名前（50文字まで）" %>
        <%= f.text_field :post_name, placeholder: "場所の名前を入力（50文字まで）" %>

        <%= f.label "評価を入力" %>
        <div id='rating'>
          <%= f.hidden_field :rating, id: :post_rating %>
        </div>


        <div class="add-post-tag">
          <%= link_to_add_association 'タグを追加', f , :post_tags, class: "btn-flat" %>
        </div>


        <%= f.label "郵便番号（ハイフン無し7桁）" %>
        <%= f.text_field :zipcode, placeholder: "郵便番号" %>

        <%= f.label "都道府県" %>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :prefecture_name, {prompt: "都道府県を選択"}, {class: "browser-default"}) %>

        <%= f.label "市町村" %>
          <div id="municipality-zone">
            <%= render "select_municipality", {municipality: @municipality} %>
          </div>

        <%= f.label "住所その他" %>
        <%= f.text_area :address, placeholder: "住所" %>

        <%= f.label "紹介文" %>
        <%= f.text_area :body, placeholder: "紹介文", class: "input-body"%>

        <%= f.label "動画を追加" %>
        <br>
        <%= f.file_field :video, class:"btn-flat  add-content-button"%>
        <br>

        <%= f.label "画像を追加" %>
        <div class="add-post-photo">
          <%= link_to_add_association '画像を追加', f , :post_images, class: "btn-flat" %>
        </div>


        <br>
        <%= f.submit value="記事を投稿", class: "btn"%>
        <br>
    <% end %>
</div>


<script>
$(document).on('turbolinks:load', function() {
  $('#rating').raty({
    path: '/assets/',
    half: true,
    score: '2.5',
    scoreName: 'post[rating]'
  });
});
</script>

<script>
  $('#post_prefecture_id').change(function() {
    $.ajax({
        url:"select_prefectures",
        type:"GET",
        data: { pref_id: $(this).val() }
    }).done(function(data){
      $('#post_municipality_id').html(data)
    });
  });
</script>