<h1>記事投稿</h1>

<%= form_with model: @post do |f| %>
        <%= f.label "場所の名前" %>
        <%= f.text_field :post_name, placeholder: "場所の名前を入力" %>
        <%= f.label "タイトル" %>
        <%= f.text_field :post_title, placeholder: "記事のタイトル" %>

        <%= f.label "評価を入力" %>
        <div id='rating'>
          <%= f.hidden_field :rating, id: :post_rating %>
        </div>


        <div>
          <%= link_to_add_association 'タグを追加', f , :post_tags, class: "btn-flat" %>
        </div>


        <%= f.label "郵便番号" %>
        <%= f.text_field :zipcode, placeholder: "郵便番号" %>

        <%= f.label "都道府県" %>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :prefecture_name, {prompt: "都道府県を選択"}, {class: "browser-default"}) %>
        <%= f.label "市町村" %>
        <%= f.collection_select(:municipality_id, Municipality.all, :id, :municipality_name, {prompt: "市町村を選択"}, {class: "browser-default"}) %>
        <%= f.label "住所" %>
        <%= f.text_field :address, placeholder: "住所" %>

        <%= f.label "概要" %>
        <%= f.text_field :overview, placeholder: "概要" %>
        <%= f.label "アクセス" %>
        <%= f.text_field :access, placeholder: "アクセス" %>
        <%= f.label "予算" %>
        <%= f.text_field :budget, placeholder: "予算" %>
        <%= f.label "紹介文" %>
        <%= f.text_area :body, placeholder: "紹介文"%>

        <%= f.label "動画を追加" %>
        <br>
        <%= f.file_field :video, class:"btn-flat"%>
        <br>

        <%= f.label "画像を追加" %>
        <div>
          <%= link_to_add_association '画像を追加', f , :post_images, class: "btn-flat" %>
        </div>


        <br>
        <%= f.submit value="記事を投稿", class: "btn"%>
        <br>
  <% end %>


<script>
$('#rating').raty({
path: '/assets/',
half: true,
scoreName: 'post[rating]'
});
</script>