<nav>
    <div class="nav-wrapper">
            <%= link_to @region.region_name, root_path, class: "breadcrumb" %>
            <%= link_to @prefecture.prefecture_name, prefecture_path(@prefecture), class: "breadcrumb" %>
            <%= link_to @municipality.municipality_name, municipality_path(@municipality), class: "breadcrumb" %>
            <%= link_to @post.post_name, post_path(@post), class: "breadcrumb" %>
    </div>
</nav>

  <% if @post.end_user == current_end_user %>
    <br>
    <%= link_to "記事を編集する", edit_post_path(@post), class: "btn" %>
    <%= link_to "記事を削除する", post_path(@post), method: :delete, class: "btn" %>
    <br>
    <br>
  <% end %>

  <div class="post-content">
    <nav>
      <div class="left post-content-title"><%= @post.post_name%></div>
      <div class="right post-content-author">by <%= link_to @user.nickname, end_user_path(@user) %></div>
    </nav>

    <div class="post-content-tag">
      <% @post_tags.each do |t| %>
        <%= link_to t.tag.tag_name, "#", class:"btn-flat btn-tag" %>
      <% end %>
    </div>

    <div class="post-content-image-area clearfix">
      <div class="post-content-photo">
        <div class="carousel carousel-slider">
          <% @post_images.each do |p| %>
            <%= image_tag p.post_image_id.to_s, id: "photo-content", class: "carousel-item" %>
            <br>
          <% end %>
        </div>
      </div>
      <div class="post-content-video">
        <%= video_tag @post.video_url.to_s,loop: true, controls: true, id: "video-content" %>
      </div>
    </div>

      <div class="post-content-rating">
        <h4><i class="small material-icons">directions_run</i><%= @user.nickname %>さんの評価</h4>
        <p>おすすめ度：<%= @post.rating %>点</p>
        <div id="star-rate-<%= @post.id %>"></div>
        <br>
        <p>予算：<%= @post.budget %></p>
        <br>
        <%= @post.body %>
     </div>

      <div class="post-content-clip">
       <%# <p>行ったユーザー</p> %>
        <% if end_user_signed_in? && @post.end_user != current_end_user %>
              <%# クリップ機能 %>
              <% if @post.cliped_by?(current_end_user) %>
                <%= link_to post_clip_path(@post.id, current_end_user.id), method: :delete do %>
                  <i class="material-icons heart-pink">attach_file</i>
                  <%= @post.clips.count %>
                <% end %>
              <% else %>
                <%= link_to post_clips_path(@post.id), method: :post do %>
                  <i class="material-icons heart-pink">attach_file</i>
                  <%= @post.clips.count %>
                <% end %>
              <% end %>
              <%# 行った機能 %>
              <% if @post.visited_by?(current_end_user) %>
                <%= link_to post_visit_path(@post.id, current_end_user.id), method: :delete do %>
                  <i class="material-icons">directions_run</i>
                  <%= @post.visits.count %>
                <% end %>
              <% else %>
                <%= link_to post_visits_path(@post.id), method: :post do %>
                  <i class="material-icons">directions_run</i>
                  <%= @post.visits.count %>
                <% end %>
              <% end %>
        <% else%>
            <i class="material-icons heart-pink">attach_file</i>
            <%= @post.clips.count %>
            <i class="material-icons">directions_run</i>
            <%= @post.visits.count %>
        <% end %>
     </div>




      <div class="post-content-mapping">
        <br>
        <p id="post-map-address">〒<%= @post.zipcode %>
          <%= @prefecture.prefecture_name %><%= @municipality.municipality_name %><%= @post.address %></p>
          <div id="post-map"></div>
      </div>

  </div>

<script>
let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('post-map'), {
    center: {lat: 35.69, lng: 139.644},
    zoom: 16
  });

  // 入力を取得
  let inputAddress = document.getElementById('post-map-address').textContent;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5LbkYIm6WbRn2Ddzo8bDxwS0jSinnRnI&callback=initMap" async defer></script>

<script>
$(document).on('turbolinks:load', function() {
  $('#star-rate-<%= @post.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @post.rating %>
  });
});
</script>

<script>
document.addEventListener('turbolinks:load', function() {
  var elems = document.querySelectorAll('.carousel');
  // ここでオプションを指定。今回はなし
  var options = {
    fullWidth: true,
    indicators: true
  }
  M.Carousel.init(elems, options);
});
</script>