

<nav>
    <div class="nav-wrapper">
            <%= link_to @region.region_name, root_path, class: "breadcrumb" %>
            <%= link_to @prefecture.prefecture_name, prefecture_path(@prefecture), class: "breadcrumb" %>
            <%= link_to @municipality.municipality_name, municipality_path(@municipality), class: "breadcrumb" %>
            <%= link_to @post.post_name, post_path(@post), class: "breadcrumb" %>
    </div>
</nav>

<div>
  <h4>著者</h4>
  <%= @user.nickname%>
  <h4>場所の名前</h4>
  <%= @post.post_name%>
  <h4>タイトル</h4>
  <%= @post.post_title%>

  <h4>タグ</h4>
  <% @post_tags.each do |t| %>
    <%= t.tag.tag_name %>
  <% end %>

  <h4>評価</h4>
    <%= @post.rating %>
         <div id="star-rate-<%= @post.id %>"></div>
          <script>
          $('#star-rate-<%= @post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @post.rating %>,
          });
          </script>



  <h4>住所</h4>
  〒<%= @post.zipcode %>
    <p id="post-map-address"><%= @prefecture.prefecture_name %><%= @municipality.municipality_name %><%= @post.address %></p>
      <div id="post-map">
      </div>

  <h4>動画</h4>
  <%= video_tag @post.video_url.to_s,loop: true, controls: true, width: 550 %>
  <h4>写真</h4>
  <% @post_images.each do |p| %>
    <%= image_tag p.post_image_id.to_s, :size =>'320x480' %>
    <br>
  <% end %>

</div>

<script>
let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('post-map'), {
    center: {lat: 35.69, lng: 139.644},
    zoom: 16
  });

  // 入力を取得
  let inputAddress = document.getElementById('post-map-address').textContent;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5LbkYIm6WbRn2Ddzo8bDxwS0jSinnRnI&callback=initMap" async defer></script>
<script src="/js/jquery.raty.js"></script>
