<header>
  <nav>
    <div class="nav-wrapper clearfix">

      <div class="brand-logo">
        <%= link_to 'Flat', root_path %>
      </div>

      <div>

        <!-- Dropdown Structure -->
        <% if end_user_signed_in? %>
          <ul id="dropdown1" class="dropdown-content">
            <li><%= link_to "マイページ", end_user_path(current_end_user) %></li>
            <li><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %></li>
          </ul>
        <% end %>

        <ul class="right hide-on-med-and-down">
        <% if end_user_signed_in? %>
            <li><%= link_to "クリップ一覧", clip_path(current_end_user) %></li>
            <li><%= link_to "行った場所一覧", visit_path(current_end_user) %></li>
            <li><%= link_to "記事の投稿", new_post_path %></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
              <% if current_end_user.icon_image_id.present? %>
                <%= image_tag current_end_user.icon_image_id.to_s, size: "60x60", class: "user-icon" %>
              <% else %>
                <%= image_tag("no_image.png", size: "60x60", class:"user-icon") %>
              <% end %>
              <i class="material-icons right">arrow_drop_down</i></a></li>
          <% else %>
              <li><%= link_to "ログイン", new_end_user_session_path %></li>
              <li><%= link_to "新規登録", new_end_user_registration_path %></li>
          <% end %>
        </ul>
      </div>

    </div>
  </nav>
</header>

<script>
$(".dropdown-trigger").dropdown();
</script>